[submodule ".registry"]
	path = .registry
	url = https://github.com/esqlabs/esqlabs.r-universe.dev
	branch = HEAD
[submodule "esqlabsR"]
	path = esqlabsR
	url = https://github.com/esqLABS/esqlabsR
	branch = v5.7.0
[submodule "osp.snapshots"]
	path = osp.snapshots
	url = https://github.com/esqLABS/osp.snapshots
	branch = v1.0.0
